.ext-docs-card {
  background-color: $card-bg;
  border: 1px solid $card-border-color;
  border-radius: $card-border-radius;
  box-shadow: $card-box-shadow;
  padding: rem-calc(20);
  margin-bottom: rem-calc(10);
  width: 100%;
  @media screen and (min-width: 50em) {
    max-width: 80%;
  }
}


.ext-docs-card  ul,
.ext-docs-card ol {
  margin-left: rem-calc(16);
}