// Lets Use Harry Roberts Typset instead of setting all these ourselves.
// https://github.com/csswizardry/typecsset
//

.heading {
  border-bottom: 1px solid #eee;
}
.subheading {
  color: lighten( $font-color, 5);
  //font-size: rem-calc(26);
  margin-top: 1em;
}

h2.subheading {
  font-size: rem-calc(26);
}

h3.subheading {
  font-size: rem-calc(22);
}

h4.subheading {
  font-size: rem-calc(20);
}
