// Lets Use Harry Roberts Typset instead of setting all these ourselves.
// https://github.com/csswizardry/typecsset
//

.heading {
  border-bottom: 1px solid #eee;
}
.subheading {
  color: lighten( $font-color, 5);
  font-size: rem-calc(26);
  margin-top: 1em;
}
